*{
    border-radius: 0px;

}


  .total-coordinators-card{
    background-color: #fff;
    width: 250px;
    height: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: rgb(1, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .page-header h2{
    padding-right: 40%;
  }

  .total-coordinators-card p{
    font-size: 20px;
    font-weight: bold;
   
  }
  .coordinators-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow-y: scroll;
    height: 80vh;
  }
  
  .table-header{
    display: flex;
  background-color: hsl(274, 98%, 65%);
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19); */
  margin-top: 12px;
  }

.Coordi-table{
  border: 1px solid ;
  width: 96.5%;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 22px;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2),  4px 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}

.table-row {
  margin-top: 5px;
  text-align: center;
  display: flex;
  padding-top: 10px;
  background-color: #ffffff;
  color: rgb(9, 0, 0);
  font-weight: bold;
  height: 50px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);

}

.table-cell {
  padding: 10px;
  flex: 1;
  text-align: center;
}

.select {
  flex: 0.5;
}

.table-body {
  background-color: #fff;
  color: #333;
}



.table-row:hover {
  background-color: #e6e6e6;
}

input[type="checkbox"] {
  cursor: pointer;
}
  
  .CbButton{
    width: 120px;
    height: 40px;
    border: #b619ff 2px solid;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
    margin-top: 5px;
  }

 
  .Coordi-Header{
    display: flex;
    height: 60px;
    /* border: 2px solid rgb(183, 29, 255); */
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .CHeading{
    margin: 0px;
    margin-left: 70px;
    
    
  }

.Coordi-button{
    display: flex;
    width: 70%;
    /* border: 2px solid ; */
    justify-content: end;
    margin-left: 120px;
    padding-top: 4px;
    gap: 10px;
}
  
  
::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #bbbaba; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Style the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}