.event-listing-form {
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
    margin: 20px;
    max-width: 600px;
    margin:  auto;
    width: 70%;
    
  }
  
  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .category-dropdown {
    margin-top: 10px;
  }
  
  .evnet-form-container {
    margin-top: 20px;
  }
  
  .form-section {
    margin-bottom: 20px;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  .evnet-form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .evnet-form-container input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .evnet-form-container button {
    background-color: #007bff;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  